* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}
.clearfix::after {
  display: block;
  clear: both;
}

/* h2::before {
  content: "SALE";
  color: #f7f7f7;
  background-color: red;
  padding: 10px;

  position: relative;
  letter-spacing: 0.2rem;
}

h2 {
  position: absolute;
} */
/* PRODUCT */

.container {
  display: flex;
  gap: 40px;
}
.product-img {
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
  font-size: 22px;
  padding: 15px;
}
/* product information */
.product-info {
  /* width: 243px; */
  flex: 1;

  margin-top: 20px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.price {
  font-size: 24px;
}
.shipping {
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.sale {
  color: #f7f7f7;
  background-color: #ec2f2f;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;
  letter-spacing: 2px;
  display: inline;
  position: absolute;
  top: -17px;
  left: -38px;
  /* text-align: center; */
}

.product-description {
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.product-colors {
  display: flex;
  gap: 10px;
}
.color {
  background-color: #000;
  height: 22px;
  width: 22px;
}
.color-blue {
  background-color: blue;
  height: 22px;
  width: 22px;
}
.color-red {
  background-color: red;
  height: 22px;
  width: 22px;
}
.color-yellow {
  background-color: yellow;
  height: 22px;
  width: 22px;
}
.color-green {
  background-color: green;
  height: 22px;
  width: 22px;
}
.color-brown {
  background-color: brown;
  height: 22px;
  width: 22px;
}

/* product details */
.product-details {
  /* width: 243px; */

  margin-top: 20px;
  flex: 1;
}
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}
.details-list li {
  margin-bottom: 10px;
}

/* button*/
.add-cart {
  background-color: #000;

  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}
/* sample */
